<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for data in categories %}
        <tr>
            <td>{{data.title}}</td>
            <td>{{data.description}}</td>
            <td> <a href="{% url 'addCategory' %}" class="btn btn-success">Add</a> </td>
            <td> <a href="{% url 'deleteCategory' data.id %}"
                class="btn btn-danger btn-sm">delete<i class="fa fa-trash"></i></a></td> 
              <td>  <a href="{% url 'bulkUpload' %}" class="btn btn-success">Bulk Upload</a></td>
        <td><a href="{% url 'download_csv' %}" class="btn btn-success">CSV Download</a></td>
        </tr>
        {% endfor %}
    </tbody>
</body>
</html>